:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    /*novo gradiente*/
    background: linear-gradient(to right, rgba(0,0,0,1)50%,rgba(255,255,255,0)100%);

    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

/*ajustes para utilizar a imagem da capa como background*/
.image {
    position:absolute;
    z-index: -1;
    align-self: flex-end;
    margin-top: -330px;
    clip: rect(330px, 600px, 490px, 0px);
    zoom: 250%;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    /*altura fixada para não afetar a posição dos botões*/
    max-height: 20px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;

}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;  
}

.carrosel-filmes{
    margin-top:5px;
}

/*coloca borda no item selecionado*/
.box-filme:hover{
    border-style: solid;
}
/*modal para exibição de filme*/
.modal-content {
    position:absolute;
    display: flex;
    flex-direction: column;
    Background-color: #000000;
    border: none;
    width: 100%;
    height: 150%;
    z-index: 2;
}

.modal-content .btnClose{
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    color: darkgray;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 30px;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;  
}

.modal-content .btnClose:hover{
    color: white;
}

.modal-content .modal-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.modal-content .movie{
    width: 100%;
    height: 70%;
}
